* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  color: white;
}

.navbar {
  height: 60px;
  background: #020617;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.menu a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.container {
  padding: 50px;
}
