<footer class="footer">
  <div class="footer-container">

    <div class="footer-top">
      <h2>KuramaMC ile kendini yeni dünyalara bırak</h2>
      <p>Gücü eline alacağın eşyalar için mağazaya göz at!</p>

      <a href="https://dsc.gg/kuramamc" target="_blank" class="footer-btn">
        Aramıza Katıl
      </a>
    </div>

    <div class="footer-grid">
      <div>
        <h4>Hakkımızda</h4>
        <p>KuramaMC - En iyi Survival ve özel sistemler deneyimi!</p>
        <p class="footer-mail">
          İletişim:
          <a href="mailto:kuramamcresmi@gmail.com">
            kuramamcresmi@gmail.com
          </a>
        </p>
      </div>

      <div>
        <h4>Hızlı Menü</h4>
        <ul>
          <li><a href="../ana-sayfa.html">Anasayfa</a></li>
          <li><a href="../magaza.html">Mağaza</a></li>
          <li><a href="#">Kredi Yükle</a></li>
          <li><a href="#">Destek</a></li>
        </ul>
      </div>

      <div>
        <h4>Sosyal Medya</h4>
        <ul>
          <li><a href="https://dsc.gg/kuramamc" target="_blank">Discord</a></li>
          <li><a href="https://www.instagram.com/kuramamc_resmi/" target="_blank">Instagram</a></li>
          <li><a href="https://www.youtube.com/@kuramamcresmi" target="_blank">YouTube</a></li>
          <li><a href="https://www.tiktok.com/@kuramamc" target="_blank">TikTok</a></li>
        </ul>
      </div>

      <div>
        <h4>Sözleşmeler</h4>
        <ul>
          <li><a href="#">Hizmet Politikası</a></li>
          <li><a href="#">Gizlilik Politikası</a></li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <p>
        KuramaMC, Mojang veya Minecraft ile bağlantılı değildir.<br>
        KuramaMC © 2026 — Tüm hakları saklıdır.
      </p>
      <span>Powered by <strong>KuramaMC Team</strong></span>
    </div>

  </div>
</footer>
