<header class="hero">
  <nav class="navbar">
    <div class="nav-left">
      <img src="../assets/logo.png" class="nav-logo">
      <span class="logo-text">KuramaMC</span>
    </div>

    <div style="display:flex; gap:12px; align-items:center;">

      <a href="../ana-sayfa.html" class="btn-outline">Ana Sayfa</a>

      <a href="../magaza.html" class="btn-outline">Mağaza</a>

      <a href="https://dsc.gg/kuramamc" target="_blank" class="discord-btn">
        <img src="../assets/discord.png" class="discord-icon">
        Discord
      </a>

    </div>
  </nav>
</header>
